.heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: center;
  color: #ffffff;
}

table {
  width: 90%;
  margin: 20px auto;         
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #ccc;
  backdrop-filter: blur(5px);
}

th, td {
  border: 1px solid #ccc;
  padding: 10px 15px;        /* cell spacing */
  text-align: center;
}

th {
  font-weight: bold;
}
